{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}




<div class="container">
    <h1 class="mt-5 text-center">PAGE PRINCIPALE A CONSTRUIRE</h1>
    <p>RGB est une plateforme relationnelle entre entreprise proposant un stage et un étudiant<br>
      Le principe :<br>
      C'est l'entreprise qui choisi son étudiant.</p>
</div>



{% endblock %}
