{% extends 'base.html.twig' %}

{% block title %}Section Entreprise{% endblock %}
{% block stylesheets %} {% endblock %}

{% block body %}
  <section class="container">
    <h3 class="text-center">IMAGE RGB</h3>
  </section>




<section class="container-fluid mt-4">
  <div class="row">
    <div class="col-12 col-md-4">
      <h4 class="text-center">Centre de formation</h4>
      <hr>
    </div>
    <div class="col-12 col-md-4">
      <h4 class="text-center">Formations</h4>
      <hr>
    </div>
    <div class="col-12 col-md-4">
      <h4 class="text-center">Langages / Framework</h4>
      <hr>
    </div>
  </div>
</section>




{% endblock %}



{% block javascripts %}{% endblock %}
