{% extends 'base.html.twig' %}

{% block title %}Section Entreprise{% endblock %}
{% block stylesheets %} {% endblock %}

{% block body %}
  <section class="container">
    <h3 class="text-center">Bienvenue sur Entreprise</h3>
  </section>


{% endblock %}



{% block javascripts %}{% endblock %}
