/*CSS FINAL STUDENT */

body{
    font-family: 'Lato',
    sans-serif;
    font-size: 1em;
}


footer{
    height:220px;
    padding: 10px;
    background-color: #F8F8F8;
}

#calendar{
        max-width: 700px;
        margin-top: 244px;
}
.mail,
.jumbotron {
    margin-top: 30px;
}
.sandbox{
    height: 300px;
    width: 730px;
    margin-bottom: 216px;

}

.entrepriseLogo, #profilImage {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.profilImage{
    margin-top: 45px;
    margin-bottom: 5px;
}


.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.ads{
    height: 204px;
    margin-top: 15px;
    max-width: 100% !important;
}

.adsResults{

    height: 150px;
    margin-top: 17px;
}

.actuality{
    margin-top: 100px;
    height: 500px;
    width: 718px;
    overflow: scroll;
    overflow-x: hidden;
}

.fc-toolbar.fc-header-toolbar{
    font-size: 0.7em;
}

.display-4{
    font-size: 1.5em;
    overflow: scroll;
    overflow-x: hidden; 
}

#results{
    overflow: scroll;
    max-height: 500px;
    overflow-x: hidden; 
}

.partenaires{
    margin-top :250px;
}

.files{
    overflow: scroll;
    max-height: 400px;
    overflow-x: hidden;
}

.titres {
    font-size: 1.3em;
}
.content {
    font-size: 1em;
}

.form-bg{
    background-color:#e3e6e9;
}

li{
    list-style: none;
}

#mailboxToggle{
    max-height: 450px;
    overflow: scroll;
    overflow-x: hidden; 
}

/*CSS FINAL */
.logo{
    height: 100px;
    width: 200px;
}

.bg-navbar{
    background-color:#F8F8F8;
}
header{
    margin-top: 150px;
}

.slogan{
font-family: 'Lato',
sans-serif;
font-size: 1.8em;
}

.btnChasse{
    background-color: #4285f4;
    padding: 10px;
    width: 180px;
}

.queFaisonsNous{
    padding-top: 40px;
}

.rondCards{
    height: 75px;
    width: 75px;
    background-color: #4285f4;
    position: relative;
    top:-100px;
}
.jumbotronActivites{
    margin-top: 30px;
}
.footer{
    margin-top: 40px;
}
#inputEmail,  #inputPassword{
    font-size: 1.2em ;
}

.form-row label{
    font-size: 1em;
}