{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<div class="example-wrapper">


<div class="container bg-dark text-light border mt-5 p-2">
  <h1 class="text-center">Enregistrement manuelle</h1>


  {% if status_form is not null and status_form == true %}
    <div class="alert alert-success text-center">
      Votre demande d'enregistrement a bien été effectuée!<br>
      <br>
      Merci pour votre inscription.<br>
    </div>
  {% elseif status_form is not null and status_form == false %}
    <div class="alert alert-danger text-center">
      {{ errors_form|join('<br>')|raw }} {# équivalent du implode('<br>', $errors) #}
    </div>
  {% endif %}


    <div class="row ">
        <div class="col ">
      <form method="post" class="m-5 justify-content-center">

        <div class="form-row mb-3  ">
          <label for="name_ent" class="col-form-label col-4">Nom entreprise</label>
          <div for="name_ent" class="col-8">
            <input type="text" name="name_ent" id="name_ent" class="form-control" placeholder="Nom entreprise">
          </div>
        </div>
        <hr>



       <div class="form-row  mb-3">
          <label class="col-form-label col-4">Adresse</label>
          <div for="address_pro" class="col-8">
            <input type="text" name="address_pro" id="address_pro" class="form-control" placeholder="Votre Numéro">
          </div>
        </div>
        <hr>


        <div class="form-row  mb-3">
          <label class="col-form-label col-4">Code postale</label>
          <div for="zipcode_pro" class="col-8">
            <input type="text" name="zipcode_pro" id="zipcode_pro" class="form-control" placeholder="Votre Numéro">
          </div>
        </div>
        <hr>



        <div class="form-row  mb-3">
          <label for="num_siret" class="col-form-label col-4">N° Siret</label>
          <div for="num_siret" class="col-8">
            <input type="text" name="num_siret" id="num_siret" class="form-control" placeholder="N° Siret">
          </div>
        </div>
        <hr>


        <div class="text-center">
          <button type="submit" class="btn btn-outline-success  m-3 rounded-0">Inscription </button>
          <a href="{{ path('home_index')}}" class="btn m-3 btn-outline-warning rounded-0">Retour</a>
        </div>
    </div>
    </form>
  </div>
 </div>
</div>

{% endblock %}

