{% extends 'base.html.twig' %}

{% block title %}Backoffice{% endblock %}

{% block body %}


{% block styles %}
<style>
header{
background:#4285F4;
color: white;
}
#block1{

}
#block2{

}
#block3{

}

.learn{
  background: transparent;
  color: black;
  border: 5px solid white);
  padding: 1.5rem;
  width: 25rem;
  transition: all 0.4s ease-in;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}
.learn:hover{
background:#4285F4;
color: white;
}


</style>
{% endblock styles %}

<header>
    <h1 class="text-center my-5"><strong>Backoffice <i>RGB</strong></i></h1>
    <h2>Row Guidelines Board</h2>
</header>

<div id="block1" class="container">
  <div class="row">
    <div class="col">
       <h2><strong>Liste complete des utilisateurs</strong></h2>
        <a class="learn mt-5" href="{{ path('list_valid') }}">Base de donnée</a>
    </div>
  </div>
</div>
<br>
<br>
<aside>
<div id="block2" class="container">
  <div class="row">
    <div class="col-6">
       <h2><strong> Inscription élèves</strong></h2>
        <a href="{{ path('add_student') }}" class="learn mt-5">Inscription étudiant</a>
    </div>
       <h2><strong> Inscription Entreprise</strong></h2>
        <a href="{{ path('add_ent') }}" class="learn mt-5">Inscription entreprise</a>
    <div class="col-6">
    </div>
  </div>
</div>
</aside>
<br>
<br>
<div id="block3" class="container">
  <div class="row">
    <div class="col">
     <h2 ><strong> Boite de reception </strong></h2>
        <a href="{{ path('list_message') }}" class="learn mt-5">boite de réception</a>
    </div>
  </div>
</div>
<br>
<br>








{% endblock %}
