{% extends 'base.html.twig' %}

{% block title %}Nouvel article
{% endblock %}

{% block body %}

	<h1>Résultat(s) pour la recherche "{{ search }}"</h1>

	{% if searchResult|length > 0 %}

		{% for result in searchResult %}
			<h3>{{ userFound.identity }}</h3>
			<h3>{{ userFound.lastname }}</h3>
			<a class="btn btn-outline-dark" href="{{ path('list_valid', { result.id}) }}">Voir utilisateur</a>
			<hr>
		{% endfor %}

	{% else %}

		<p>Aucune correspondance avec la recherche</p>

	{% endif %}

{% endblock %}

